@model KhumaloCraft.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1 class="display-4 text-center mb-4">Delete</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="alert alert-danger text-center">
                Are you sure you want to delete this?
            </div>
            <div class="list-group mb-4">
                <span class="list-group-item list-group-item-action text-center"><img src="@Html.DisplayFor(model => model.ImageUrl)" /></span>
                <span class="list-group-item list-group-item-action">Product Name:  @Html.DisplayFor(model => model.ProdName)</span>
                <span class="list-group-item list-group-item-action">Price: @Html.DisplayFor(model => model.Price)</span>
                <span class="list-group-item list-group-item-action">Category: @(Model.Category != null ? Model.Category.CatName : "No Category Assigned")</span>
                <span class="list-group-item list-group-item-action">Availability: @Html.DisplayFor(model => model.ProdAvailability)</span>
                <span class="list-group-item list-group-item-action">Stock: @Html.DisplayFor(model => model.Stock)</span>

            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-warning float-end">
                    <svg style="vertical-align: text-bottom" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg> Cancel
                </a>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

